#container {
    margin: 0 auto;
    width: 500px;;
}

#alonzo {
    width: 200px;
    padding: 0px;
    position: relative;
}

#clothes {
    width: 500px;
    margin: 0 auto;
    overflow: auto;
    height: 60%; 
}

#shirt {
    position: absolute;
    bottom: 17px;
    display: none;
}

#pants {
    position: absolute;
    bottom: 17px;
    display: none;
}

#socks {
    position: absolute;
    bottom: 17px;
    display: none;
}

#shoes {
    position: absolute;
    bottom: 17px;
    display: none;
}

.option {
    border: dotted 1px black;
    width: 100px;
    height: 100px;
}

.option:hover {
    border: solid 1px red;
}
